* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GERAL */
body {
  text-align: center;
  color: white;
  background: black;
  font-family: 'Inter', sans-serif;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

main {
  padding-top: 160px;
}

span
, h1 {
  color: #FFC700;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

h1  {
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  font-family: 'Emilys Candy', cursive;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

a {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

/* ESPECÍFICOS */
#links {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

#btn-play
, a:hover {
  text-decoration: none;
  background: #FFC700;
  color: #040101;
}

#btn-play:hover
, a:hover {
  transform: scale(1.05);
}
